h1 .black {
    color: #491f5a;
    font-family: 'Work Sans',arial sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 1px;
    }

h1 {

    color: rgb(63, 63, 63) !important;
    font-family: "Baloo Bhai",arial sans-serif !important;
    font-size: 30px;
}

h2 {
    color: rgb(63, 63, 63) !important;
    font-family: 'Work Sans',arial sans-serif !important;
    font-size: 20px !important;
    margin-top: 20px;
    margin-bottom: 1px;
    }

    .paratitle {
        color: rgb(96, 8, 168) !important;
        font-family: 'Work Sans',arial sans-serif !important;
        font-size: 20px !important;
        margin-top: 20px;
        margin-bottom: 1px;
        }
    

h3 {
    color: #252525 !important;
    font-family: 'Work Sans',arial sans-serif !important;
    font-size: 20px !important;
    margin-top: 20px;
    margin-bottom: 1px;
    }

p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;

}

li{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
}

/* HomePage Styles */

.materialboxed {
    display: block!important;
    margin-bottom:10px;
}

.bottom-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .containimg {
    position: relative;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
  }


  .responsive {
    height:400px;
    width:100%;
    object-fit: cover;
  }


  .emptystate {
      color: rgb(82, 82, 82);
      background-color: rgb(202, 202, 202);
      text-align:center;
      padding:20px;
  }


  .tabs .tab a:hover, .tabs .tab a.active {

    color:#7432aa !important;
    background-color:rgb(243, 243, 243) !important;
  }

  .tabs .tab a {


    color:#7432aa !important;

  }
  
  
  .tabs .tab a:focus, .tabs .tab a.active:focus {
  
    color:#a36ece !important;
    background-color:rgb(243, 243, 243) !important;
  }


  .tabs .indicator {

    background-color:#7432aa !important;

  }
